<div class="events">
  <h1>検索技術まとめ</h1>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>概要</th>
        <th>検索技術</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Linux</td>
        <td>検索</td>
        <td>find &lt;ディレクトリ&gt; -name &lt;ファイル名&gt; | xargs grep &lt;検索ワード&gt;</td>
        <td>指定したディレクトリ・ファイル名から検索ワードと一致する記述のあるファイルを出力</td>
      </tr>
      <tr>
        <td>Virtual Studio Code</td>
        <td>検索</td>
        <td>command + shit + f, 検索ワード入力</td>
        <td>検索ワードと一致する記述のあるファイルを出力</td>
      </tr>
      <tr>
        <td>vim (ctags)</td>
        <td>定義元ジャンプ</td>
        <td>定義元を特定したいメソッドにカーソルを合わせ、control + ]</td>
        <td>定義元へジャンプ</td>
      </tr>
    </tbody>
  </table>
</div>
