<h1><%= t('users.index.title') %></h1>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>

<%# if current_user.authorized?('new') %>
  <%= link_to t('users.index.links.new'), new_user_path %>
<%# end %>
