<h1><%= t('users.index.title') %></h1>

  <% if current_user.authorized?('users', 'new') %>
    <ul>
      <li><%= link_to t('users.index.links.new'), new_user_path %></li>
    </ul>
  <% end %>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>
