.events {
  .button {
    margin: 0;
    text-align: center;

    a {
      margin: 0 0 10px auto;
      display: block;
      padding: 5px 20px;
      border: none;
      border-radius: 2px;
      width: 100px;
      color: white;
      text-decoration: none;
      background-color: #6e99cf;
      cursor: pointer;
      box-sizing: border-box;

      &:active {
        background-color: #8aa2c1;
      }
    }
  }
  .new-event {
    a {
      width: 150px;
    }
  }
  .delete-event {
    a {
      background-color: #ff5850;

      &:active {
        background-color: #dd6963;
      }
    }
  }
}
