// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.products {
  .button {
    margin: 0;
    text-align: center;

    a {
      margin: 0 0 10px auto;
      display: block;
      padding: 5px 20px;
      border: none;
      border-radius: 2px;
      width: 100px;
      font-size: 14px;
      color: white;
      text-decoration: none;
      background-color: #6e99cf;
      cursor: pointer;
      box-sizing: border-box;

      &:active {
        background-color: #8aa2c1;
      }
    }
  }

  .show-cart {
    a {
      width: 150px;
    }
  }
}
