// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shops {
  h3 {
    margin-bottom: 0;
    font-weight: normal;
  }

  .shop-products-unnormalized-table,
  .shops-table,
  .shop-products-table {
    display: inline-block;

    h4 {
      margin: 10px 0;
      font-weight: normal;
    }
  }

  .shops-table {
    margin-right: 15px;
  }
}
