.users {
  .button {
    margin: 0;
    text-align: center;

    a {
      margin: 0 0 10px auto;
      display: block;
      padding: 5px 20px;
      border: none;
      border-radius: 2px;
      width: 250px;
      color: white;
      text-decoration: none;
      background-color: #6e99cf;
      cursor: pointer;
      box-sizing: border-box;

      &:active {
        background-color: #8aa2c1;
      }
    }
  }
  .new-user {
    a {
      width: 150px;
    }
  }
  .delete-user {
    a {
      background-color: #ff5850;

      &:active {
        background-color: #dd6963;
      }
    }
  }

  .table {
    a {
      color: black;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }

  .user-profile {
    margin: 0 0 50px 0;
  }
}
