<div class='menu'>
  <ul>
    <li><%= link_to t('layouts.menu.links.users.index'), users_path %></li>
    <li><%= link_to t('layouts.menu.links.users.new'), new_user_path %></li>
    <li><%= link_to t('layouts.menu.links.static_pages.about_server_logs'),
                    static_pages_about_server_logs_path %></li>
    <li><%= link_to t('layouts.menu.links.static_pages.about_activerecord_logs'),
                    static_pages_about_activerecord_logs_path %></li>
  </ul>
</div>
